{
    "MainQueueProducerLambdaFunction": {
        "ALERT_TOPIC_ARN": "",
        "MAIN_QUEUE_URL": "",
        "ERROR_QUEUE_URL": "",
        "DEAD_LETTER_QUEUE_URL": ""
    },
    "MainQueueConsumerLambdaFunction": {
        "ALERT_TOPIC_ARN": "",
        "ERROR_QUEUE_URL": "",
        "DEAD_LETTER_QUEUE_URL": ""
    },
    "ErrorQueueConsumerLambdaFunction": {
        "ALERT_TOPIC_ARN": "",
        "DEAD_LETTER_QUEUE_URL": ""
    },
    "AlertTopicConsumerLambdaFunction": {
        "TARGETWEB_HOOK_URL": ""
    }
}